.botoncart {
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: rgb(202, 202, 202);
}
.titdes {
	margin-left: 20px;
	padding-bottom: 60px;
}

.tituloo {
	font-size: 23px;
	font-weight: 700;
	display: flex;
}
.acomodo {
	margin-top: 8px;
}
.botooon{
	display: flex;
	margin-left: 750px;
}
.itemind{
	display: flex;
    align-items: center;
}
.disp {
	display: flex;
}

.imgCart {
	width: 200px;
	height: 140px;
}
.carritoItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.cartitem {
	height: 200px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 97%;
}