.botoncart {
	width: 42px;
	height: 42px;
	border-radius: 21px;
	background-color: rgb(202, 202, 202);
}

.disp {
	display: flex;
}

.imgCart {
	width: 200px;
	height: 140px;
}
.carritoItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.cartitem {
	height: 200px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 97%;
}