.card {
	border: 3px rgb(136, 124, 124) solid;
	background-color: rgb(166, 255, 218);
	width: 250px;
	/* border-radius: 20px; */
	margin: 20px;
}

.foto {
	max-width: 250px;
	max-height: 250px;
	object-fit: contain;
}

.titulo {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 25px;
}

.precio {
	font-weight: 700;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	margin: 0;
}

.boton {
	cursor: pointer;
	width: 100%;
	padding: 5px;
	margin-top: 19px;
}

.boton:hover{
	background-color: rgb(230, 158, 251);
	font-weight: bold;
}

 