.formulario {
    width: 250px;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
  }
  
  .formulario input, .formulario textarea {
    width: 250px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
  }
  
  .formulario button {
    width: 100%;
    font-size: 100px;
    padding: 4px;
    margin: 10px 10px 30px 10px;
  }