.nav {
	background-color: indianred;
}
#chico{
	padding-top: 13px;
	padding-bottom: 12px;
}

.logopp {
	width: 40px;
	height: 40px;
	border-radius: 9px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.navigatorbar {
	overflow: hidden;
	background-color: rgb(6, 154, 246);
}

.navigatorbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
}

.dropd {
	float: left;
	overflow: hidden;
}

.dropd .dropdbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin-top: 7px;
}

.navigatorbar a:hover,
.dropd:hover .dropbtn {
	background-color: rgb(25, 130, 216);
}

.dropd-cont {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropd-cont a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropd-cont a:hover {
	background-color: #ddd;
}

.dropd:hover .dropd-cont {
	display: block;
}
